.m-cashdesk {

    &__select--table {
        display: flex;
        margin-bottom: 20px;

        h3 {
            margin-right: 10px;
        }
    }

    &__gridcontainer {

        display: grid;
        grid-template-columns: 3fr 2fr;
        margin: 0 20px;
    
        &__menu {
            overflow-y: auto;
            background: white;
            border: 1px solid gray;

            h3 {
                text-align: center;
            }

            ul {
                list-style-type: none;
                padding: 0px 10px;
            }

            &__item {
                display: flex;
                padding-bottom: 5px;

                &__number {
                    min-width: 20px;
                    margin-right: 20px;
                }
                &__name {
                    flex: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &__price {
                    
                }

                button {
                    margin-left: 20px;
                    font-size: 12px;
                }
            }
        }
    
        &__order {

            &__list {
                border: 1px solid gray;
                background: white;
                height: 400px;
                overflow-y: auto;

                h3 {
                    margin-left: 40px;
                }
    
                ul {
                    list-style-type: none;
                    padding: 0px 10px;
                }
    
                input {
                    width: 40px;
                }

                &__item {
                    margin-top: 5px;
                    
                    &__flex {
                        display: flex;
                        align-items: center;

                        &__name {
                            flex: 1;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        button {
                            margin-right: 10px;
                        }

                        &__price {
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                    }

                    &__description {
                        margin-top: 5px;
                        width: 100%;
                        height: 70px;
                        display: none;
    
                        &.visible {
                            display: block;
                        }
                    }
                }

            }

            &__total {
                margin-top: 15px;
                border: 1px solid gray;
                background: white;
                padding: 10px;

                &__text {
                    display: flex;

                    h2:first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &__history {
        padding: 10px 0;

        &__order {
            padding: 16px 30px;
            margin: 10px 0;
            background: white;
            border-radius: 10px;
        }
    }
}